black[jupyter]
chex
clu
distrax
flax
h5py
imageio
ipython
isort
jax[cpu]
jaxlib
jaxtyping
jupyterlab
matplotlib
notebook
numpy
optax
orbax
pandas
pillow
pre-commit
pytest
ruff
scikit-learn
scipy<=1.12.0
seaborn
sympy
torch
torchaudio
torchvision
tqdm